<!doctype html>
<html>

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, maximum-scale=1">
	<link rel="shortcut icon" href="{{ url_for('static', filename='img/itachi.ico') }}">
	<title>Homepage</title>
	

	<link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,800italic,700italic,600italic,400italic,300italic,800,700,600' rel='stylesheet' type='text/css'>

	<link href="{{ url_for('static', filename=  'css/bootstrap.css') }}" rel="stylesheet" type="text/css">
	<link href="{{ url_for('static', filename=  'css/style.css') }}" rel="stylesheet" type="text/css">
	<link href="{{ url_for('static', filename=  'css/font-awesome.css') }}" rel="stylesheet" type="text/css">
	<link href="{{ url_for('static', filename=  'css/responsive.css') }}" rel="stylesheet" type="text/css">
	<link href="{{ url_for('static', filename=  'css/magnific-popup.css') }}" rel="stylesheet" type="text/css">
	<link href="{{ url_for('static', filename=  'css/animate.css') }}" rel="stylesheet" type="text/css">

	<script type="text/javascript" src="{{ url_for('static', filename= 'js/jquery.1.8.3.min.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename= 'js/bootstrap.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename= 'js/jquery-scrolltofixed.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename= 'js/jquery.easing.1.3.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename= 'js/jquery.isotope.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename= 'js/wow.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename= 'js/classie.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename= 'js/magnific-popup.js') }}"></script>
	<script src="{{ url_for('static', filename= 'contactform/contactform.js') }}"></script>



</head>

<body>
	<header class="header" id="header">
		<!--header-start-->
		<div class="container">
			<figure class="logo animated fadeInDown delay-07s">
				<a href="#"><img src="img/sharingan.gif" alt=""></a>
			</figure>
			<h1 class="animated fadeInDown delay-07s">Welcome To Tsukuyomi</h1>
			<ul class="we-create animated fadeInUp delay-1s">
				<li>We bring the movies of your choice!</li>
			</ul>
			<a class="link animated fadeInUp delay-1s servicelink" href="#service">Get Started</a>
		</div>
	</header>
	<!--header-end-->

	<nav class="main-nav-outer" id="test">
		<!--main-nav-start-->
		<div class="container">
			<ul class="main-nav">
				<li><a href="/">Home</a></li>
				<li><a href="/log">Login</a></li>
				<li><a href="/signup">Sign up</a></li>
				<li class="small-logo"><a href="#header"><img src="img/source.gif" alt=""></a></li>
				<li><a href="http://localhost:32212/view/326065f1-d373-4b34-9812-e0db098191e0#/explore">Review</a></li>
				<li><a href="/visual">Visual</a></li>
				<li><a href="/login">Book Ticket</a></li>
			</ul>
			<a class="res-nav_click" href="#"><i class="fa fa-bars"></i></a>
		</div>
	</nav>
	<!--main-nav-end-->



	<section class="main-section" id="service">
		<!--main-section-start-->
		<div class="container">
			<h2>Features</h2>
			<h6>We offer exceptional movie recommendations with complimentary hugs.</h6>
			<div class="row">
				<div class="col-lg-4 col-sm-6 wow fadeInLeft delay-05s">
					<div class="service-list">
						<div class="service-list-col1">
							<i class="fa fa-paw"></i>
						</div>
						<div class="service-list-col2">
							<h3>Personalized Reviews</h3>
							<p>Watch the movies with your own ratings and personalization</p>
						</div>
					</div>
					<div class="service-list">
						<div class="service-list-col1">
							<i class="fa fa-gear"></i>
						</div>
						<div class="service-list-col2">
							<h3>Machine Learning</h3>
							<p>Strong Recommender based on user data and sentiments</p>
						</div>
					</div>
					<div class="service-list">
						<div class="service-list-col1">
							<i class="fa fa-apple"></i>
						</div>
						<div class="service-list-col2">
							<h3>Enjoy Movie Shows</h3>
							<p>Book tickets at your nearest theatre</p>
						</div>
					</div>
					<div class="service-list">
						<div class="service-list-col1">
							<i class="fa fa-medkit"></i>
						</div>
						<div class="service-list-col2">
							<h3>Data Analysis Dashboard</h3>
							<p>Dynamic tracking of the user sentiments and movie choices</p>
						</div>
					</div>
				</div>
				<figure class="col-lg-8 col-sm-6  text-right wow fadeInUp delay-02s">
					<img src="img/watching-movie.jpg" alt="">
				</figure>

			</div>
		</div>
	</section>
	<!--main-section-end-->



	<section class="main-section alabaster">
		<!--main-section alabaster-start-->
		<div class="container">
			<div class="row">
				<figure class="col-lg-5 col-sm-4 wow fadeInLeft">
					<img src="img/iphone.png" alt="">
				</figure>
				<div class="col-lg-7 col-sm-8 featured-work">
					<h2>functionalities</h2>
					<P class="padding-b">Tsukuyomi enhances the experience of movie watching diving you into a world of mirage that you cannot escape and we assure this through the personalization of the choices while you enjoy the movie saga!</P>
					<div class="featured-box">
						<div class="featured-box-col1 wow fadeInRight delay-02s">
							<i class="fa fa-magic"></i>
						</div>
						<div class="featured-box-col2 wow fadeInRight delay-02s">
							<h3>Movie Bookings from Multiple Perspectives</h3>
							<p>Managers, Cashiers and movie goers all of them can work on it</p>
						</div>
					</div>
					<div class="featured-box">
						<div class="featured-box-col1 wow fadeInRight delay-04s">
							<i class="fa fa-gift"></i>
						</div>
						<div class="featured-box-col2 wow fadeInRight delay-04s">
							<h3>Big Data</h3>
							<p>Analysis of over 13000 users with a live database and personalized reviews</p>
						</div>
					</div>
					<div class="featured-box">
						<div class="featured-box-col1 wow fadeInRight delay-06s">
							<i class="fa fa-dashboard"></i>
						</div>
						<div class="featured-box-col2 wow fadeInRight delay-06s">
							<h3>Search Optimization</h3>
							<p>The fast AI search engine helps in giving the best results through machine learning </p>
						</div>
					</div>
					<a class="Learn-More" href="#">Learn More</a>
				</div>
			</div>
		</div>
	</section>
	<!--main-section alabaster-end-->



	<section class="main-section paddind" id="Portfolio">
		<!--main-section-start-->
		<div class="container">
			<h2>Watchlist</h2>
			<h6>Fresh movies to start off the day</h6>
			<div class="portfolioFilter">
				<ul class="Portfolio-nav wow fadeIn delay-02s">
					<li><a href="#" data-filter="*" class="current">All</a></li>
					<li><a href="#" data-filter=".branding">Romance</a></li>
					<li><a href="#" data-filter=".webdesign">Action</a></li>
					<li><a href="#" data-filter=".printdesign">Comedy</a></li>
					<li><a href="#" data-filter=".photography">Drama</a></li>
				</ul>
			</div>

		</div>
		<div class="portfolioContainer wow fadeInUp delay-04s">
			<div class=" Portfolio-box printdesign">
				<a href="img/movie_1.jpg"><img src="img/movie_1.jpg" alt=""></a>
				<h3>Dilwale Dulhaniya Le Jayenge</h3>
				<p>Comedy</p>
			</div>
			<div class="Portfolio-box webdesign">
				<a href="img/movie_4.jpg"><img src="img/movie_4.jpg" alt=""></a>
				<h3>Raees</h3>
				<p>Action</p>
			</div>
			<div class=" Portfolio-box branding">
				<a href="img/movie_2.jpg"><img src="img/movie_2.jpg" alt=""></a>
				<h3>Mohabattein</h3>
				<p>Romance</p>
			</div>
			<div class=" Portfolio-box photography">
				<a href="img/movie_6.jpg"><img src="img/movie_6.jpg" alt=""></a>
				<h3>Pardes</h3>
				<p>Drama</p>
			</div>
			<div class=" Portfolio-box branding">
				<a href="img/movie_3.jpg"><img src="img/movie_3.jpg" alt=""></a>
				<h3>Kuch Kuch Hota Hai</h3>
				<p>Romance</p>
			</div>
			<div class=" Portfolio-box photography">
				<a href="img/movie_5.jpg"><img src="img/movie_5.jpg" alt=""></a>
				<h3>Devdas</h3>
				<p>Drama</p>
			</div>
			<a href="/watchlist" style="text-align:right;">Want More? Let's Go!<img src="/images/logo.png"></a> 
		</div>
		</section>
	<!--main-section-end-->


	<section class="main-section client-part" id="client">
		<!--main-section client-part-start-->
		<div class="container">
			<b class="quote-right wow fadeInDown delay-03"><i class="fa fa-quote-right"></i></b>
			<div class="row">
				<div class="col-lg-12">
					<p class="client-part-haead wow fadeInDown delay-05">Go for the exclusive movie reviews by all our users</p>
				</div>
			</div>
			<ul class="client wow fadeIn delay-05s">
				<li><a href="http://localhost:32212/view/326065f1-d373-4b34-9812-e0db098191e0#/explore">
            	<img src="img/Misc.gif" alt="">
                
            </a></li>
			</ul>
		</div>
	</section>

	<!--c-logo-part-end-->
	<section class="main-section team" id="team">
		<!--main-section team-start-->
		<div class="container">
			<h2>team</h2>
			<h6>Take a closer look into our amazing team. We won’t bite.</h6>
			<div class="team-leader-block clearfix">
				<div class="team-leader-box">
					<div class="team-leader wow fadeInDown delay-03s">
						<div class="team-leader-shadow"><a href="#"></a></div>
						<img src="img/vipul.jpeg" alt="">
						<ul>
							<li><a href="https://twitter.com/vipulgaurav7" class="fa fa-twitter"></a></li>
							<li><a href="https://www.facebook.com/vipul.gaurav" class="fa fa-facebook"></a></li>
							<li><a href="https://www.linkedin.com/in/vipul-gaurav/" class="fa fa-linkedin"></a></li>
							<li><a href="https://www.instagram.com/thecreative_decoder/" class="fa fa-instagram"></a></li>
						</ul>
					</div>
					<h3 class="wow fadeInDown delay-03s">Vipul Gaurav</h3>
					<span class="wow fadeInDown delay-03s">1MV16CS124</span>
					<p class="wow fadeInDown delay-03s">Machine Learning Developer and Front End Expert</p>
				</div>
				<div class="team-leader-box">
					<div class="">
						<div class=""></div>
						
					</div>
				</div>
				<div class="team-leader-box">
					<div class="team-leader wow fadeInDown delay-09s">
						<div class="team-leader-shadow"><a href="#"></a></div>
						<img src="img/tushar.jpeg" alt="">
						<ul>
							
							<li><a href="https://twitter.com/TusharS24045853" class="fa fa-twitter"></a></li>
							<li><a href="https://www.facebook.com/tusharsharma16" class="fa fa-facebook"></a></li>
							<li><a href="https://www.linkedin.com/in/tushar-sharma-4776a8121/" class="fa fa-linkedin"></a></li>
							<li><a href="https://www.instagram.com/thecreative_decoder/" class="fa fa-instagram"></a></li>
						</ul>
					</div>
					<h3 class="wow fadeInDown delay-09s">Tushar Sharma</h3>
					<span class="wow fadeInDown delay-09s">1MV16CS110</span>
					<p class="wow fadeInDown delay-09s">Machine Learning Developer and Java Expert</p>
				</div>
			</div>
		</div>
	</section>
	<!--main-section team-end-->



	<section class="business-talking">
		<!--business-talking-start-->
		<div class="container">
			<h2>Wanna Come and Meet Us? We Love you!</h2>
		</div>
	</section>
	<!--business-talking-end-->
	<div class="container">
		<section class="main-section contact" id="contact">

			<div class="row">
				<div class="col-lg-6 col-sm-7 wow fadeInLeft">
					<div class="contact-info-box address clearfix">
						<h3><i class=" icon-map-marker"></i>Address:</h3>
						<span>106 Vistara Sunningdale Bannerghatta<br>Bengaluru, Karnataka, 562002.</span>
					</div>
					<div class="contact-info-box phone clearfix">
						<h3><i class="fa fa-phone"></i>Phone:</h3>
						<span>+91-9986804620</span>
					</div>
					<div class="contact-info-box email clearfix">
						<h3><i class="fa fa-pencil"></i>email:</h3>
						<span>vgaurav3011@gmail.com</span>
					</div>
					<div class="contact-info-box hours clearfix">
						<h3><i class="fa fa-clock-o"></i>Hours:</h3>
						<span><strong>Monday - Thursday:</strong> 10am - 6pm<br><strong>Friday:</strong> People work on Fridays now?<br><strong>Saturday - Sunday:</strong> Best not to ask.</span>
					</div>
					<ul class="social-link">
						<li class="twitter"><a href="#"><i class="fa fa-twitter"></i></a></li>
						<li class="facebook"><a href="#"><i class="fa fa-facebook"></i></a></li>
						<li class="pinterest"><a href="#"><i class="fa fa-pinterest"></i></a></li>
						<li class="gplus"><a href="#"><i class="fa fa-google-plus"></i></a></li>
						<li class="dribbble"><a href="#"><i class="fa fa-dribbble"></i></a></li>
					</ul>
				</div>
				<div class="col-lg-6 col-sm-5 wow fadeInUp delay-05s">
					<div class="form">

						<div id="sendmessage">Your message has been sent. Thank you!</div>
						<div id="errormessage"></div>
						<form action="" method="post" role="form" class="contactForm">
							<div class="form-group">
								<input type="text" name="name" class="form-control input-text" id="name" placeholder="Your Name" data-rule="minlen:4" data-msg="Please enter at least 4 chars" />
								<div class="validation"></div>
							</div>
							<div class="form-group">
								<input type="email" class="form-control input-text" name="email" id="email" placeholder="Your Email" data-rule="email" data-msg="Please enter a valid email" />
								<div class="validation"></div>
							</div>
							<div class="form-group">
								<input type="text" class="form-control input-text" name="subject" id="subject" placeholder="Subject" data-rule="minlen:4" data-msg="Please enter at least 8 chars of subject" />
								<div class="validation"></div>
							</div>
							<div class="form-group">
								<textarea class="form-control input-text text-area" name="message" rows="5" data-rule="required" data-msg="Please write something for us" placeholder="Message"></textarea>
								<div class="validation"></div>
							</div>

							<div class="text-center"><button type="submit" class="input-btn">Send Message</button></div>
						</form>
					</div>
				</div>
			</div>
		</section>
	</div>
	<footer class="footer">
		<div class="container">
			<div class="footer-logo"><a href="#"><img src="img/source.gif" alt=""></a></div>
			<span class="copyright">&copy; Tsukuyomi. All Rights Reserved</span>
			<div class="credits">
				
				Designed by Vipul Gaurav
			</div>
		</div>
	</footer>


	<script type="text/javascript">
		$(document).ready(function(e) {

			$('#test').scrollToFixed();
			$('.res-nav_click').click(function() {
				$('.main-nav').slideToggle();
				return false

			});

      $('.Portfolio-box').magnificPopup({
        delegate: 'a',
        type: 'image'
      });

		});
	</script>

	<script>
		wow = new WOW({
			animateClass: 'animated',
			offset: 100
		});
		wow.init();
	</script>


	<script type="text/javascript">
		$(window).load(function() {

			$('.main-nav li a, .servicelink').bind('click', function(event) {
				var $anchor = $(this);

				$('html, body').stop().animate({
					scrollTop: $($anchor.attr('href')).offset().top - 102
				}, 1500, 'easeInOutExpo');
			
				if ($(window).width() < 768) {
					$('.main-nav').hide();
				}
				event.preventDefault();
			});
		})
	</script>

	<script type="text/javascript">
		$(window).load(function() {


			var $container = $('.portfolioContainer'),
				$body = $('body'),
				colW = 375,
				columns = null;


			$container.isotope({
				// disable window resizing
				resizable: true,
				masonry: {
					columnWidth: colW
				}
			});

			$(window).smartresize(function() {
				// check if columns has changed
				var currentColumns = Math.floor(($body.width() - 30) / colW);
				if (currentColumns !== columns) {
					// set new column count
					columns = currentColumns;
					// apply width to container manually, then trigger relayout
					$container.width(columns * colW)
						.isotope('reLayout');
				}

			}).smartresize(); // trigger resize to set container width
			$('.portfolioFilter a').click(function() {
				$('.portfolioFilter .current').removeClass('current');
				$(this).addClass('current');

				var selector = $(this).attr('data-filter');
				$container.isotope({

					filter: selector,
				});
				return false;
			});

		});
	</script>

</body>

</html>
